# Environment and Python dependencies
.env
__pycache__/
*.pyc

# Poetry and pip files
poetry.lock
*.log

# System-specific and temporary files
.cache/
.local/
.pythonlibs/
.upm/

# IDE and editor specific files
.vscode/
.idea/
*.sublime-*

# Images or other large assets not suitable for Git
*.jpg
*.png

# Other sensitive or temporary files
*.bak
*.tmp
.DS_Store

# Output or test data
*.out
*.json
birthdays.json
